@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html {
    height: 100%;
    overflow-y: scroll;
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-image:url(../img/bg.jpg);
    background-attachment: fixed;
    background-position: right center;
    background-repeat:no-repeat;
    background-size:cover;
    background-color: #000;
    color: #ced4da;
    font-family: 'Lato', sans-serif;
}

body.admin{
    background-image:none;
    background-color: #ccc  !important;
    color: #1d2124;
}

.img-logo{
    max-height:80px;
}
.img-title{
    /*max-height:35px;*/
    padding-top:35px;
    padding-left: 10px;
    padding-right: 10px;

}


.navbar-toggler-icon::before{
  content: " \f150";
  font-family: "Font Awesome 5 Free";
  color:#fff;
  font-size:1.5em;
}

/* */
#body-row {
    margin-left:0;
    margin-right:0;
}

.content-area{
   /* background-color: rgba(255,255,255,0.6);*/
    min-height: calc(100vh - 80px);
    position:relative;
}

/* */
.logo {
    height: 60px;
}
.navbar {
    min-height: 80px;
}
.top-img {
    background-color: rgba(255,255,255,0.8);
    padding: 5px;
}

.top-nav .nav-link {
    padding: 0 8px;
    line-height: 50px;
    color: #e9f2ff;
    font-size: 20px;
}
.top-nav a img {
    max-height: 60px;
    width: auto;
}
.nav-user img {
    height: 36px;
    width: 36px;
    margin-bottom: 7px;
}
.avatar-rounded {
    border-radius: 50%;
}
.dropdown-menu {
    box-shadow: none;
    border: 1px solid rgba(43, 61, 81, 0.05);
    margin: -1px;
    padding: 0;
    border-radius: 0;
}
.profile-dropdown {
    width: 170px;
}
.dropdown-toggle::after{
    display:none;
}

form {
    width: 100%;
    margin: 0px auto;
    background: rgba(255,255,255,0.8);
    padding: 30px 40px 30px 50px;
    text-align: center;
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}
form h1 {
    text-transform: uppercase;
    font-size: 2em;
    text-align: left;
    color: #495057;
}
.form-check-input{
    position:inherit;
    margin-left:10px;
    margin-right:5px;
}
.login-area{
    position: relative;
    color: #495057;
    display: block;
    /* border: 1px solid #cc0000; */
    min-height: 370px;
    margin-top: 50px;
}
#login-form{
    position:absolute;
    top: 50%;
    transform:translateY(-50%);
        border-radius: 10px;
}

#login-message {
    margin-bottom: 15px;
    padding: 5px 10px;
}
button {
    display: inline-block;
    padding: 12px 24px;
    background: #1183d1;
    font-weight: 500;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
    text-transform: uppercase;
}
button:hover {
    background: #185F8F;
    color: #ffffff;
}
.icons{
    width:100%;
    text-align:center;
}
.icons a {
    margin: 0 5px;
}
.icons img {
    height: 25px;
    width: auto;
}
.icons i.web {
    color: #fff;
}
.icons i.fb {
    color: #3b5998;
}
.icons i.yt {
    color: #c4302b;
}
.icons i.insta {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
padding: 3px;
font-size:1.25em;
    color: #fff;
    border-radius: 6px;}
.fa-2x{
    font-size:1.5em !important;
}

.bottom-nav{
    min-height:50px !important;
    background-color:#000;
}

.menu-nav{
    margin-top:10px;
}
.btn-nav{
    background-color:#1183d1;
    border-radius:0;
}

.bg-black {
    padding: 15px 30px;
    background-color: #201b50;
}
h6.main-title {
    font-size: 1.2em;
    color: #333;
    text-transform: uppercase;
    font-weight: 600;
}
.meta {
    margin: 10px 0;
    color: #f8f9fa;
}
.meta.audio {
    margin: 0 !important;
}
.meta h3 {
    font-size: 1.25em;
    color: #ffc107;
}
.meta a {
    color: #ffc107;
    text-decoration: none;
}
.meta h4 {
    font-size: 1.2em;
    color: #dae0e5;
}

.meta h5 {
    font-size: 0.9em;
    color: #f8f9fa;
    display: inline-block;
}
.video-link {
    margin-top: 10px;
    margin-bottom: 20px;
}
.video-link a {
    font-size: 1em;
    color: #cc0000;
}
.video {
    height: 15px;
    width: auto;
}
.form-inline.search {
    display: block;
    background: none;
    padding: 0;
    box-shadow: none;
    margin-top:20px;
    
}
.form-inline.search .form-control{
    width:100%;
}
.user-info {
    background-color: #dee2e6;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.25);
    box-shadow: 0 1px 1px rgba(0,0,0,0.25);
    padding: 10px;
    margin-bottom: 2px;
    border-radius: 4px 4px 0 0;
}
.user-details {
    background-color: #ced4da;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.25);
    box-shadow: 0 1px 1px rgba(0,0,0,0.25);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 0 0 4px 4px;
}
.cat {
    border: 1px solid #dae0e5;
    background-color: #f8f9fa;
    padding: 5px;
}
h3.title {
    font-size: 2em;
    font-weight: 400;
}
h3.title span {
    color: #1183d1;
    font-weight: 500;
}
#player {
    /*width: 100%;
    height: 100%;*/
    background-color:#000;
    width:100%;
    position:relative;
    overflow:hidden;
}
.video-player:before{
    padding-top:56.25%;
    content:'';
    display:block;
}
.video-player [data-player]{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    
}
.desc {
    font-size: 1.5em;
    padding: 5px 0;
}
.video-list{
    background-color: #333;
    text-align: center;
    text-transform: uppercase;
}
a.list {
    font-size: 1.25em;
    color: #ccc;
}
img.back {
    vertical-align: inherit;
}
#profileDisplay {
    display: block;
    height: 180px;
    width: auto;
    margin: 0px auto;
}
.img-placeholder {
    width: 100%;
    color: white;
    height: 180px;
    background: black;
    opacity: .7;
    z-index: 2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
.img-placeholder h4 {
    color: white;
    font-size:1em;
}
.img-div:hover .img-placeholder {
    display: block;
    cursor: pointer;
}
#body-row {
    margin-left:0;
    margin-right:0;
}

.video-panel{
    border:1px solid #000;
}
.video-list-desc{
    border-bottom:1px solid #007bff;
}
.video-list-desc .meta {
    margin: 5px 0;
    color: #29215e;
}
.video-list-desc .meta h3 {
    font-size: 1em;
    color: #29215e;
}
.video-list-desc .meta h4 {
    font-size: 0.9em;
    color: #29215e;
}

.video-list-desc .meta h5 {
    font-size: 0.75em;
    color: #29215e;
    display: inline-block;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn-upload {
  border: 1px solid #ced4da;
  color: #343a40;
  background-color: white;
  padding: 8px 20px;
  border-radius: 6px;
  font-size: 1em;
  text-transform:capitalize;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.video-thumb{
    width:100%;
}

.user-det{
    text-align:center;
        background-color: #e9ecef;
        display:flow-root;
}
.user-det .name{
    font-size: 1em;
    text-transform:uppercase;
    border-bottom:1px solid #ccc;
    padding:5px 0;
}
.user-det .batch{
    font-size: 0.8em;
    padding:5px 0;
}

.btn-search{
    border-radius:0;
    border:1px solid #fff;
}

.main{
    margin-top:120px;
}

.main-links, .video-phases{
    padding-top:5%;
}
.video-phases .btn,
.main-links .btn {
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 2px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14);
    text-transform: uppercase;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
    margin-bottom:20px;
    min-width:200px;
}
.video-phases .btn{
    min-width:130px;
    margin:10px 20px;
    padding:10px 15px;
    white-space:normal;
    word-break:keep-all;
}

.main-links a:hover {
    text-decoration:none;
}

iframe#doc-view{
    width:90%;
    height:55vh;
    margin:0 auto;
}

#modalDocs{
    position:relative;
}
#modalDocs .close{
    position: absolute;
    top: -20px;
    right: -20px;
    background-color: #cc0000;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    opacity: 1;
}
#modalDocs .modal-content{
    color: #495057;
}

#video-report{
    color: #333;
}
.doc{
    border:1px solid #f00;
    position:relative;
}
.doc-cover{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #f00;
}

.input-group{
    margin-bottom:5px;
}
.top-nav{
    margin-top:20px;
}
.btn-home, .btn-home:hover{
    background-color: #f15a4f;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    font-weight:bold;
}

