body {
    background-image: url('img/bgbg.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #000044;
}

.imgwel1 {
    width: 50%;
    margin-top: 326px;
    margin-left: 141px;
    margin-bottom: 20px;
}

#form1 {
    /* position: absolute;
    top: 444px;
    left: 700px; */
    width: 100%;
    background-color: #ffffff;
    color: black;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 4%;
}

.lebel{
    margin-left:4px;
}

legend {
    border-bottom: 5px solid skyblue;
    width: 90%;
    color: darkblue;
    font-size: 22px;
    margin-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 80px;
}

.btn1 {
    background-image: linear-gradient(to right, #0088c8, #00acd9, #0088c8);
    color: white;
}

.btn2 {
    background-color: #ec3739;
    color: white;
}

.mob {
    font-size: 16px;
}

.email {
    margin-left: 11px;
    width: 96.2%;
}

.program {
    margin-left: 7px;
    width: 98%;
}

.about {
    margin-left: 7px;
    width: 98%;
}

.mg {
    margin-left: 5px;
    margin-right: 5px;
}

.btn {
    margin: 6px;
    margin-left: 5px;
}

.logo {
    /* width: 80%; */
    height: 37px;
}

.bg-image {
    background-image: url('img/bgffdmuk.png');
    height: 100vh;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 50%;
    /* font-size: 14px; */
    /* margin-top:8px; */
}

@media only screen and (max-width: 1440px) {
    .bg-image {
        background-size: 50%;
    }
}

@media only screen and (max-width: 1024px) {
    .imgwel1 {
        width: 66%;
        margin-top: 292px;
        margin-left: 65px;
        margin-bottom: 17px;
    }
    .bg-image {
        background-size: 52%;
    }
    body {
        background-color: #000044;
        background-image: url('');
    }
    .btn1 {
        font-size: 13.5px;
    }
    .btn2 {
        font-size: 11.55px;
    }
    legend {
        padding-left: 26px;
    }
}

@media only screen and (max-width: 768px) {
    body {
        background-color: #000044;
        background-image: url('');
    }
    .imgwel1 {
        width: 72%;
        margin-top: 292px;
        margin-left: 38px;
        margin-bottom: 17px;
    }
    legend {
        /* font-size: 16px; */
        padding-left: 25px;
    }
    .bg-image {
        background-size: 66%;
    }
    #form1 {
        /* position: absolute;
        top: 444px;
        left: 700px; */
        width: 100%;
        background-color: #ffffff;
        color: black;
        border-radius: 0px 0px 20px 20px;
    }
    .logo {
        /* width: 80%; */
        height: 34px;
    }
    .email {
        width: 93.2%;
    }
    .program {
        width: 96%;
    }
    .about{
        width: 96%;
    }
}

@media only screen and (max-width: 425px) {
    .imgwel1 {
        width: 57%;
        margin-top: 277px;
        margin-left: 88px;
        margin-bottom: 20px;
    }
    .bg-image {
        background-size: 114%;
    }
    /* .form-group {
        margin-bottom: 0px !important;
    } */
    /* * {
        font-size: 10px;
    } */
    /* legend {
        font-size: 14px;
    } */
    .logo {
        height: 37px !important;
        width: 200px !important;
    }
}

@media only screen and (max-width: 375px) {
    .bg-image {
        background-size: 127%;
    }
    legend {
        /* font-size: 15px; */
        padding-left: 50px;
    }
    .imgwel1 {
        width: 58%;
        margin-top: 268px;
        margin-left: 72px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 320px) {
    .bg-image {
        background-size: 140%;
    }
    legend {
        /* font-size: 15px; */
        padding-left: 9px;
    }
    .logo {
        height: 37px !important;
        width: 140px !important;
    }
    .imgwel1 {
        width: 54%;
        margin-top: 261px;
        margin-left: 71px;
        margin-bottom: 20px;
    }
}