@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

html {
    height: 100%;
    overflow-y: scroll;
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-image:url(../img/bg.jpg);
    background-attachment: fixed;
    background-position:center right;
    background-repeat:no-repeat;
    background-size:cover;
    background-color: #000 !important;
    color: #201b50;
    font-family: 'Roboto', sans-serif;
}

body.admin{
    background-image:none;
}

.img-logo{
    max-height:50px;
}
.img-title{
    max-height:40px;
    padding-top:10px;
}


.navbar-toggler-icon::before{
  content: " \f150";
  font-family: "Font Awesome 5 Free";
  color:#fff;
  font-size:1.5em;
}

/* */
#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;   
    background-color: #f8f9fa;
    padding: 0;
}
#sidebar-container .list-group-item:first-child,
#sidebar-container .list-group-item:last-child{
    border-radius:0;
}
/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9em;
}

#sidebar-container .list-group a.active{
    background-color:#282460 !important;
    border:none;
}
#sidebar-container .list-group a.logout{
    background-color:#cc0000 !important;
    border:none;
}

/* Separators */
.sidebar-separator-title {
    background-color: #f8f9fa;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;    
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f150";
  font-family: "Font Awesome 5 Free";
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f152";
  font-family: "Font Awesome 5 Free";
  display: inline;
  text-align: right;
  padding-left: 10px;
}

.content-area{
    background-color: rgba(255,255,255,0.6);
    min-height:100vh;
}

/* */
.logo {
    height: 60px;
}
.navbar {
    min-height: 80px;
}
.top-img {
    background-color: rgba(255,255,255,0.8);
    padding: 5px;
}
form {
    width: 100%;
    margin: 20px auto;
    background: rgba(255,255,255,0.8);
    padding: 30px 40px 30px 50px;
    text-align: center;
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}
form h1 {
    text-transform: uppercase;
    font-size: 2em;
    text-align: left;
    color: #495057;
}
.form-check-input{
    position:inherit;
    margin-left:10px;
    margin-right:5px;
}
.login-area{
    height:80vh;
    position:relative;
}
#login-form{
    position:absolute;
    top: 50%;
    transform:translateY(-50%);
        border-radius: 10px;
}

#login-message {
    margin-bottom: 15px;
    padding: 5px 10px;
}
button {
    display: inline-block;
    padding: 12px 24px;
    background: #1183d1;
    font-weight: 500;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
    text-transform: uppercase;
}
button:hover {
    background: #185F8F;
    color: #ffffff;
}
.icons{
    width:100%;
    text-align:center;
}
.icons a {
    margin: 0 5px;
}
.icons img {
    height: 25px;
    width: auto;
}
.icons i {
    font-size: 1em;
}
.bottom-nav{
    min-height:50px !important;
    background-color:#000;
}

.menu-nav{
    margin-top:10px;
}
.btn-nav{
    background-color:#1183d1;
    border-radius:0;
}

.bg-black {
    padding: 15px 30px;
    background-color: #201b50;
}
h6.main-title {
    font-size: 1.2em;
    color: #333;
    text-transform: uppercase;
    font-weight: 600;
}
.meta {
    margin: 10px 0;
    color: #212121;
}
.meta h3 {
    font-size: 1.25em;
    color: #29215e;
}
.meta a {
    color: #29215e;
    opacity: 0.85;
    text-decoration: none;
}
.meta a:hover {
    opacity: 1;
}
.meta h4 {
    font-size: 1.2em;
    color: #29215e;
}

.meta h5 {
    font-size: 0.9em;
    color: #29215e;
    display: inline-block;
}
.video-link {
    margin-top: 10px;
    margin-bottom: 20px;
}
.video-link a {
    font-size: 1em;
    color: #cc0000;
}
.video {
    height: 15px;
    width: auto;
}
.form-inline.search {
    display: block;
    background: none;
    padding: 0;
    box-shadow: none;
    
}
.form-inline.search .form-control{
    width:100%;
}
.user-info {
    background-color: #dee2e6;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.25);
    box-shadow: 0 1px 1px rgba(0,0,0,0.25);
    padding: 10px;
    margin-bottom: 2px;
    border-radius: 4px 4px 0 0;
}
.user-details {
    background-color: #ced4da;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.25);
    box-shadow: 0 1px 1px rgba(0,0,0,0.25);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 0 0 4px 4px;
}
.cat {
    border: 1px solid #dae0e5;
    background-color: #f8f9fa;
    padding: 5px;
}
h3.title {
    font-size: 2em;
    font-weight: 400;
}
h3.title span {
    color: #1183d1;
    font-weight: 500;
}
#player {
    /*width: 100%;
    height: 100%;*/
    background-color:#000;
    width:100%;
    position:relative;
    overflow:hidden;
}
.video-player:before{
    padding-top:56.25%;
    content:'';
    display:block;
}
.video-player [data-player]{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    
}
.desc {
    font-size: 1.5em;
    padding: 5px 0;
}
.video-list{
    background-color: #333;
    text-align: center;
    text-transform: uppercase;
}
a.list {
    font-size: 1.25em;
    color: #ccc;
}
img.back {
    vertical-align: inherit;
}
#profileDisplay {
    display: block;
    height: 180px;
    width: auto;
    margin: 0px auto;
}
.img-placeholder {
    width: 100%;
    color: white;
    height: 180px;
    background: black;
    opacity: .7;
    z-index: 2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
.img-placeholder h4 {
    color: white;
    font-size:1em;
}
.img-div:hover .img-placeholder {
    display: block;
    cursor: pointer;
}
#body-row {
    margin-left:0;
    margin-right:0;
}

.video-panel{
    border:1px solid #000;
}
.video-list-desc{
    border-bottom:1px solid #007bff;
}
.video-list-desc .meta {
    margin: 5px 0;
    color: #29215e;
}
.video-list-desc .meta h3 {
    font-size: 1em;
    color: #29215e;
}
.video-list-desc .meta h4 {
    font-size: 0.9em;
    color: #29215e;
}

.video-list-desc .meta h5 {
    font-size: 0.75em;
    color: #29215e;
    display: inline-block;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn-upload {
  border: 1px solid #ced4da;
  color: #343a40;
  background-color: white;
  padding: 8px 20px;
  border-radius: 6px;
  font-size: 1em;
  text-transform:capitalize;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.video-thumb{
    width:100%;
}

.user-det{
    text-align:center;
        background-color: #e9ecef;
        display:flow-root;
}
.user-det .name{
    font-size: 1em;
    text-transform:uppercase;
    border-bottom:1px solid #ccc;
    padding:5px 0;
}
.user-det .batch{
    font-size: 0.8em;
    padding:5px 0;
}

.btn-search{
    border-radius:0;
    border:1px solid #fff;
}

.main{
    margin-top:120px;
}