body {
    background-image: url('img/bgbg.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #000146;
}

.imgwel1 {
    width: 50%;
    margin-top: 326px;
    margin-left: 141px;
    margin-bottom: 20px;
}

#form1 {
    /* position: absolute;
    top: 444px;
    left: 700px; */
    width: 100%;
    background-color: #ffffff;
    color: black;
    border-radius: 0px 0px 20px 20px;
}

legend {
    border-bottom: 5px solid skyblue;
    width: 90%;
    color: darkblue;
    font-size: 22px;
    margin-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 80px;
}

.form-control,
.btn {
    font-size: 11px;
}

.btn1 {
    background-image: linear-gradient(to right, #0088c8, #00acd9, #0088c8);
    color: white;
}

.btn2 {
    background-color: #ec3739;
    color: white;
}

.mob {
    font-size: 16px;
}

.name {
    font-size: 14px;
}

.mg {
    margin-left: 5px;
    margin-right: 5px;
}

.btn {
    margin: 6px;
    margin-left: 5px;
}

.logo {
    /* width: 80%; */
    height: 37px;
}

.bg-image {
    background-image: url('img/bgffdmuk.png');
    height: 100vh;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 50%;
    font-size: 14px;
    /* margin-top:8px; */
}

@media only screen and (min-width: 2560px) {
    #form {
        position: absolute;
        top: 464px;
        left: 1023px;
        width: 20%;
    }
    .imgwel {
        position: absolute;
        top: 325px;
        left: 1075px;
        width: 16%;
    }
}

@media only screen and (max-width: 1440px) {
    #form {
        position: absolute;
        top: 351px;
        left: 482px;
        width: 33%;
    }
    .imgwel {
        position: absolute;
        top: 281px;
        left: 609px;
        width: 15%;
    }
    .bg-image {
        background-size: 50%;
    }
}


/* @media only screen and (max-width: 1440px) {
    #form {
        position: absolute;
        top: 351px;
        left: 482px;
        width: 33%;
    }
    .imgwel {
        position: absolute;
        top: 281px;
        left: 609px;
        width: 15%;
    }
    .bg-image {
        background-size: 50%;
    }
} */

@media only screen and (max-width: 1024px) {
    .imgwel1 {
        width: 66%;
        margin-top: 292px;
        margin-left: 65px;
        margin-bottom: 17px;
    }
    #form {
        position: absolute;
        top: 350px;
        left: 288px;
        width: 44%;
    }
    .imgwel {
        position: absolute;
        top: 278px;
        left: 400px;
        width: 22%;
    }
    .bg-image {
        background-size: 52%;
    }
    legend {
        font-size: 16px;
    }
}

@media only screen and (max-width: 768px) {
    #form {
        position: absolute;
        top: 344px;
        left: 168px;
        width: 57%;
    }
    .imgwel {
        position: absolute;
        top: 278px;
        left: 288px;
        width: 26%;
    }
    .imgwel1 {
        width: 72%;
        margin-top: 292px;
        margin-left: 38px;
        margin-bottom: 17px;
    }
    legend {
        font-size: 16px;
        padding-left: 25px;
    }
    .bg-image {
        background-size: 66%;
    }
    #form1 {
        /* position: absolute;
        top: 444px;
        left: 700px; */
        width: 100%;
        background-color: #ffffff;
        color: black;
        border-radius: 0px 0px 20px 20px;
    }
    .logo {
        /* width: 80%; */
        height: 34px;
    }
}

@media only screen and (max-width: 425px) {
    .imgwel1 {
        width: 57%;
        margin-top: 277px;
        margin-left: 88px;
        margin-bottom: 20px;
    }
    #form {
        position: absolute;
        top: 325px;
        left: 20px;
        width: 90%;
        font-size: 12px;
    }
    .imgwel {
        position: absolute;
        top: 255px;
        left: 111px;
        width: 50%;
    }
    .bg-image {
        background-size: 114%;
    }
    .form-gorup {
        margin-bottom: 0px !important;
    }
    * {
        font-size: 10px;
    }
    legend {
        font-size: 14px;
    }
    .logo {
        height: 37px !important;
        width: 200px !important;
    }
}

@media only screen and (max-width: 375px) {
    .bg-image {
        background-size: 127%;
    }
    .imgwel {
        position: absolute;
        top: 265px;
        left: 98px;
        width: 48%;
    }
    legend {
        font-size: 15px;
        padding-left: 50px;
    }
    .imgwel1 {
        width: 58%;
        margin-top: 268px;
        margin-left: 72px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 320px) {
    .bg-image {
        background-size: 140%;
    }
    .imgwel {
        position: absolute;
        top: 265px;
        left: 98px;
        width: 48%;
    }
    legend {
        font-size: 15px;
        padding-left: 9px;
    }
    .logo {
        height: 37px !important;
        width: 140px !important;
    }
    .imgwel1 {
        width: 54%;
        margin-top: 261px;
        margin-left: 71px;
        margin-bottom: 20px;
    }
}