@charset "utf-8";
/* CSS Document */
html{ height: 100%; overflow-y: scroll; }

body{
    margin:0;
    padding:0;
    font-size:14px;
    background: #60a3bc !important;
}
.logo{
    height:60px;
}
.navbar{
    min-height: 80px;
    background-color: #ffffff;
    background-image: none;
    box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.12);
}
/*home page*/

form {
  width: 100%;
  margin: 20px auto;
  background: #efefef;
  padding: 30px 40px 30px 50px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}
h1{
    text-transform:uppercase;
    font-size:2em;
    text-align:left;
    color: #495057;
}
#ques-message, #message, #login-message {
    margin-bottom: 15px;
    padding: 5px 10px;
}
label {
  display: block;
  position: relative;
  margin: 30px 0px;
}
.input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
}

.line-box {
  position: relative;
  width: 100%;
  height: 2px;
  background: #BCBCBC;
}

.line {
  position: absolute;
  width: 0%;
  height: 2px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: #CC0000;
  transition: ease .6s;
}

.input:focus + .line-box .line {
  width: 100%;
}

.label-txt {
  position: absolute;
  top: -1.6em;
  padding: 10px;
  font-family: sans-serif;
  font-size: .8em;
  letter-spacing: 1px;
  color: rgb(120,120,120);
  transition: ease .3s;
}

.label-active {
  top: -3em;
}

button {
  display: inline-block;
  padding: 12px 24px;
  background: rgb(220,220,220);
  font-weight: bold;
  color: rgb(120,120,120);
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: ease .3s;
  text-transform: uppercase;
}

button:hover {
  background: #cc0000;
  color: #ffffff;
}
        
/*home page*/
.dropdown-menu{
    font-size:1em;
}
.video-panel{
    padding:20px 80px 30px;
    border-bottom:0px solid #000;
   /* box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.12);*/

}




.video-area{
    padding:0;
}
.video{
}
.video::before{
    padding-top: 0 !important;
}

.slide-area{
    padding:0;
}
.slide-img{
    width:100%;
}

.ppts{
    width: 280px;
    height:200px;
    overflow:hidden;
}

.ppt-img{
    height: 200px;
    width:auto;
    cursor:pointer;
}

#msg{
    width:100%;
    margin-top: 10px;
    text-transform: uppercase;
}

#video,#vod-video{
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  position: relative; 
  border:10px solid #dee2e6;
}
#vod-video{
    margin-top:10px;
}
#videoPlayer{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#slide{
    border:10px solid #dee2e6;
    margin:0px 5px 5px 10px;
}

.content-area{
    margin-top:50px;
}
.ppts-folder{
    background-color: rgba(0,0,0, 0.2);
    padding:30px;
    text-align:center;
}
.ppts-folder img.ppt-img{
    width: 180px;
    height:auto;
    margin-right:10px;
    margin-bottom:10px;
    padding:1px;
    border:1px solid #ccc;
    background-color:#333;
}
.ppts-folder img.ppt-img:hover{
    transform: scale(1.5);
    
}

.action{
    display: grid;
}
.btn-update{
    margin-bottom:10px;
}


#success-alert{
    display:block;
}

.prev-slide, .next-slide{
    background-color:rgba(0,0,0,0.05);
    padding:20px;
    text-align:center;
}


.curr-slide{
    background-color:rgba(0,0,0,0.1);
    padding:30px;
    text-align:center;
    position:relative;
    margin:20px 0;
}

.loading{
    position:absolute;
    top: 30px;
    left: 45px;
    background: rgba(0,0,0,0.8);
    right: 45px;
    bottom: 30px;
}
.loading img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.prev-slide img, 
.next-slide img,
.curr-slide img{
    width:100%;
    height:auto;
}

.all-slides{
    background-color:rgba(0,0,0,0.2);
    padding:30px;
    text-align:center;
    
    width: 90%;
    max-height: 200px;
    margin: 0 auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

}

.all-slides img{
    width:200px;
    margin:0 10px;
}
.all-slides img:hover{
    transform: scale(1.25);
}
.all-slides a.curr img{
    border:1px solid #c00;
    padding: 1px;
}

.all-slides .disable{
    cursor: not-allowed;
    opacity: 0.5;
}

.slide-thumb{
    text-align:center;
    position:relative;
    margin-bottom:10px;
}
.slide-thumb span.time{
    color: #fff;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0,0,0,0.25);
}
.slide-thumb span.del{
    color: #fff;
    background-color:#c00;
    position:absolute;
    top:0;
    right:0;
    width:30px;
    height:25px;
    
}
.slide-index{
    height:80vh;
    overflow:auto;
    width:250px;
    margin:0 auto;
    margin-top:20px;
}
.slide-thumbs{
    width:200px;
    margin:10px auto;
}

.slide-index table tr{
    width: 100%;
}

#video-settings .btn{
    border-radius: 0;
    font-size: 14px;
    padding: 10px 25px;
    display:block;
    margin-top:10px;
}
#video-settings .btn:focus{
    box-shadow:none;
}

#video-settings select,
#video-settings input{
    border: 1px solid #ccc;
}
.setting{
    margin-top:15px;
    font-size:14px;
}

form.panel-body{
    margin:auto;
}


#question-form {
background-color:#efefef;
  border: 1px solid rgba(0,0,0,.2);
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

#question-form textarea { resize: none; }

#question-form h6{
    font-size:1.2em;
    margin-top: 5px;
    margin-left: 10px;
    text-transform:uppercase;
}

.panel-body {
    padding: 15px;
}

.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
#question-form .form-control,
#question-form button{
    font-size: 1em;
}

#question-form button:focus,
#question-form .form-control:focus{
    box-shadow: none;
}

.bottom{
    margin:0;
    padding: 10px;
    background-color: rgba(0,0,0,0.25);
}

.bottom a{
    color: #343a40;
    text-decoration:none;
    font-weight: bold;
}

.user-info{
    background-color:#ccc;
     -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    padding:10px;
    margin-bottom:2px;
    border-radius:4px 4px 0 0;
}
.user-details{
   background-color:#ddd;
     -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    padding:10px;
    margin-bottom:15px;
    border-radius:0 0 4px 4px;
    
}
.page-link:focus{
    box-shadow: none;
}

#ques_count{
    display:inline-block;
}

#ques_update{
    color: #cc0000;
    font-weight: bold;
}
#ques_update a{
    color:#495057;
    font-style:italic;
    margin-left:10px;
}
@media only screen and (max-width:600px){
    .video-panel{
        padding:10px 15px 15px;
    }
    .video-area {
        margin-bottom: 10px;
    }
    #video, #vod-video {
        border: 5px solid #dee2e6;
    }

    #slide {
        border: 5px solid #dee2e6;
        margin: 0px 0px 5px 0px;
    }
}
